.Century-Killed,
.Prediction-Prediction {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        font-size: 35px;
        font-weight: 600;
        margin: 40px 150px;
        letter-spacing: 3px;
        word-spacing: 5px;
        position: relative;

        &.Question {
            &::after {
                content: "?";
                position: absolute;
                left: 100%;
                top: 50%;
                font-size: 200px;
                color: var(--secondary-color);
                transform: translateY(-50%);
            }
        }
    }

    h1 {
        font-size: 80px;
        font-family: monospace;
    }
}

.Prediction-visualization {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .description {
        padding: 20px 20px;
    }
}